{% extends 'students/master_page.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}

<br>

<div class="cont">
    <div class="row1"> Contact Us </div>
    <div class="row2">Name</div>
    <div class="row_2"><input class="txtbox" type="text"> </div>
    <div class="row3">Gender</div>
    <div class="row_3">
        <input type="radio" name="Gender" value="Male">Male
        <input type="radio" name="Gender" value="Female">Female
    </div>
    <div class="row4">Date of Birth</div>
    <div class="row_4"><input class="txtbox" type="date"></div>
    <div class="row5">Mobile</div>
    <div class="row_5"><input class="txtbox" type="text"> </div>
    <div class="row6">Email</div>
    <div class="row_6"><input class="txtbox" type="email"></div>
    <div class="row7">Address</div>
    <div class="row_7"><textarea  class="txtbox" name="" id="" cols="50" rows="10"></textarea></div>
    <div class="row8"><button type="button" class="btn">SUBMIT</button>
        <!-- <input class="submit" type="button" value="SUBMIT"> -->
    </div>
</div>
<br><br>

{% endblock %}