<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2 align="center"> Students Attendance Details </h2> 
   
   <table align="center" border="2" width="30%">
   
   <tr>
       <th width="10%"> Sl. No. </th>
       <th width="40%"> Name </th>
       <th width="10%"> Class </th>
       <th width="25%"> Attendance Percentage (%)</th>
   </tr>
   <tr align="center">
       <td>1</td>
       <td> Lorem </td>
       <td> VI </td>
       <td> 80 </td>
   </tr>
   <tr align="center">
       <td>2</td>
       <td> Lorem </td>
       <td> VI </td>
       <td> 85 </td>
   </tr>
   
   <tr align="center">
       <td>3</td>
       <td> Lorem </td>
       <td> VI </td>
       <td> 90 </td>
   </tr>
   
   <tr align="center">
       <td>4</td>
       <td> Lorem </td>
       <td> VI </td>
       <td> 80 </td>
   </tr>
   
   <tr align="center">
       <td>5</td>
       <td> Lorem </td>
       <td> VI </td>
       <td> 75 </td>
   </tr>
   
   <tr align="center">
       <td>6</td>
       <td> Lorem </td>
       <td> VI </td>
       <td> 90 </td>
   </tr>
   <tr align="center">
       <td>7</td>
       <td> Lorem </td>
       <td> VI </td>
       <td> 85 </td>
   </tr>
   
   <tr align="center">
       <td>8</td>
       <td> Lorem </td>
       <td> VI </td>
       <td> 90 </td>
   </tr>
   
   <tr align="center">
       <td>9</td>
       <td> Lorem </td>
       <td> VI </td>
       <td> 95 </td>
   </tr>
   <tr align="center">
       <td>10</td>
       <td> Lorem </td>
       <td> VI </td>
       <td> 98 </td>
   </tr>
   
   
   
   </table>
   
</body>
</html>