html,
body {
    margin: 0;
}

.container {
    margin-left: 40px;
    margin-right: 40px;
}

#logo {
    align-content: center;
    height: 100px;
    width: 150px;
    padding-left: 10px;
    padding-right: 1000px;
}

#login {
    color: #fff;
    background-color: blue;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

#register {
    padding: 10px 20px;
    border-radius: 8px;
    color: #fff;
    background-color: rgb(9, 70, 9);
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin: 16px;

}


.navbar {
    width: 100vw;
    /* height: 100vh; */
    background: #4776e6;
    /* background-color: rgb(4, 32, 71); */
    /* background: -webkit-linear-gradient(to right, #8e54e9, #4776e6); */
    /* background: linear-gradient(to right, #8e54e9, #4776e6); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header {
    width: 100%;
    height: 60px;
    background: #4776e6;
    box-shadow: 0 0 10px 1px;
    margin-bottom: 40px;
}
.menu {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0 100px;
}

.menu li{
  display: block;
  height: 100%;
  margin-right: 30px;
  font-size: 20px;
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 15px #8e54e9;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Style 1: color change and scale by 120% */
.menu li:hover {
  color: #111;
  transform: scale(1.2);
  text-shadow: none;
}


/* .navbar {
    background-color: rgb(4, 32, 71);
    height: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.navbar a {
    float: left;
    text-align: center;
    color: #fff;
    padding: 11px 30px;
    font-size: 20px;
    text-decoration: none;
}

.navbar:hover {
    background-color: red;
} */

/* .navbar a:hover {
    background-color: bisque;
    color: blue;

} */

.footer_container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    /* grid-gap: 100px; */
    border: none;
    padding-top: 10px;
    position: relative;
    left: 10%;
    bottom: 0;
    width: 80%;
    padding-left: 20px;
    text-align: left;
    background-color: #c5eecb;
    color: rgb(3, 59, 17);
    font-family: Arial, Helvetica, sans-serif;
}

/* .container .content {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
} */