.gallery {
    height: 720px;
    width: 1420px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    border: none;
    /* padding-bottom: 40px; */
    /* object-fit: cover; */
    /* background-color: white; */
}

.wh_1 {
    grid-area: 1/1/6/2;
    background-color: white;
    width: 77.5px;
    /* width: auto; */
}

.soft {
    grid-area: 1/2/2/6;
    background-color: white;
    /* width:auto;  */
    /* width: 720px; */
    height: 200px;    
    /* background-image: url(/static/images/img3.jpg);
    background-size: cover; */
}

.lap {
    grid-area: 1/6/2/7;
    background-color: white;
    width: 316.25px;
}

.d4 {
    grid-area: 1/7/4/9;
    /* background-color: rgb(198, 226, 43); */
    background-image: url(/static/images/swim.jpg);
    background-size: cover;
    width: 316.25px;
}

.course {
    grid-area: 2/2/3/5;
    /* grid-area: 2/2/3/3; */
    background-color:white;
    width: 555px;
    height: 140px;
    /* background-image: url(/static/images/spart-club.jpg);
    background-size: cover; */
    /* text-align: left; */
    /* font-size: 20px; */
    /* color: rgb(7, 7, 98); */
    /* font-family: sans-serif; */
    /* font-weight: 600; */
}

.box {
    grid-area: 2/5/3/6;
    /* grid-area: 2/3/3/6; */
    background-color: white;
    width: 155px;
}

.c3 {
    grid-area: 2/6/4/7;
    background-image: url(/static/images/tennis.jfif);
    background-size: cover;
    /* object-fit: cover; */
    width: 316.25px;
}

.wh_2 {
    grid-area: 3/2/6/3;
    background-color: white;
    width: 77.5px;
}

.a1 {
    grid-area: 3/3/4/4;
    background-image: url(/static/images/sports.jpg);
    background-size: cover;
    /* background-color: red; */
    width: 316.25px;
    /* width: auto; */
    height: 180px;
}

.b2 {
    grid-area: 3/4/4/6;
    /* background-color: saddlebrown; */
    background-image: url(/static/images/img1.webp);
    background-size: cover;
    width: 316.25px;
    /* width: auto; */
}

.hor_wh {
    grid-area: 4/3/5/9;
    height: 20px;
}

.get_job {
    grid-area: 5/3/6/8;
    background-color: rgb(4, 32, 71);
    width: 1110px;
    height: 180px;
    justify-content: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
}

.wh_box {
    grid-area: 5/8/6/9;
    color: rgb(199, 196, 209);
    width: 155px;
    height: 20px;
}

img[alt="ph"] {
    height: 50px;
    width: 250px;
}

.off_details {
    justify-content: center;
    height: 250px;
    width: 1300px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 100px;
    border: none;
    object-fit: cover;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.off {
    grid-area: 1/1/2/2;
    background-color: white;
    /* background-image: url(/static/images/office.webp);
    background-size: cover; */
    width: 300px;
    text-align: center;
}

.training {
    grid-area: 1/2/2/4;
    width: 500px;
    text-align: center;
    font: 1em sans-serif;
}

.training p{
    text-align: justify;
    justify-content: space-between;

}

