{% extends 'school_admin/master.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}



<div class="off_details">
    
    <div class="off">
        <h3>Our office </h3>
        <img src="{% static 'images/office.webp' %}" alt="of" height="200px" width="280px">
    </div>

    <div class="training">
        <h3>History </h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus, explicabo laudantium fugiat aspernatur in sunt obcaecati 
            iste, eligendi, quia quibusdam et fugit soluta tenetur nesciunt quam tempore dicta rem unde nam amet fuga. Unde ducimus 
            velit, inventore excepturi, et vitae, quisquam officia iusto esse quibusdam quod. Vitae modi atque facilis?
        </p>
    </div>

    <div class="life">
        <h3> Timing </h3>                
    </div>
</div>

<!-- <div id="abtpg" >

    <h1>About Us</h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur nostrum vel, adipisci consequatur corporis fugiat autem ut 
        nesciunt quidem similique laudantium amet voluptates fugit alias recusandae voluptatem porro qui numquam, dolorem repudiandae 
        ipsa quas dolorum delectus. Ea, voluptatum? Nobis iste ad ratione velit distinctio facere molestias, assumenda quaerat ex rem.
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime hic recusandae repellat quibusdam qui eos quos impedit eligendi,
          eveniet alias.
    </p>
</div> -->





{% endblock %}