{% extends 'school_admin/master.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}


<div class="gallery">
    <div class="wh_1"></div>
    <div class="soft">  </div>
    <div class="lap"></div>
    <div class="d4"></div>
    <div class="box"></div>
    <div class="course">  <p id="crse">  </p>  </div>
    
    <div class="c3"></div>
    <div class="wh_2"></div>
    <div class="a1"></div>
    <div class="b2"></div>
    <div class="hor_wh"></div>
    <div class="get_job">
        <p id="getst"> <br>
             The HP Sports Club has been the pioneer in developing and promoting sportsclub in India since 1953, 
            and we are working to take motorsport in India to greater heights in the years to come. It is the club’s endeavor to 
            provide more opportunities for competitors, and to this end, it has chalked out various progressive programmes.
            <br><br>

            Contact us: contact@hpsportsclub.com </p>
    </div>
    <div class="wh_box"></div>
</div>

<div class="off_details">
    
    <div class="off">
        <h3>Our club </h3>
        <img src="{% static 'images/club.jpg' %}" alt="of" height="200px" width="280px">
    </div>

    <div class="training">
        <h3> News </h3>
        <p>The Kadappakada Sports Club will start a memory clinic as part of its 80th anniversary celebrations. 
            Finance Minister K.N. Balagopal will inaugurate the clinic on August 29 and actor Mohanlal will deliver a video 
            message on the occasion. A team that includes a neurologist, psychiatrist, physician, junior doctor, Ayurveda doctor,
             physiotherapist and nurses will provide free service to patients. Ambulance service, consultation, telemedicine, 
             workshops and awareness sessions will also be part of the clinic.
        </p>
    </div>

</div>

{% endblock %}