{% load static %}
<!-- Master page for this website. All other pages extends this page -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Club</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    {% block header %}
    <!-- style for individual pages  -->
    {% endblock %}

</head>

<body>
    <div class="container">
        <!-- header  -->
        <div class="header_container">
            <img src="{% static 'images/club_logo.png' %}" alt="b" id="logo">
            <div class="search_box">
                <span class="material-icons">search</span>
                <input type="search" placeholder="Search here..">
            </div>
        </div>
        <br><br>
        <!-- header end  -->

        <!-- Navigation bar  -->


        <div class="navbar">
            <a href="{% url 'p1' %}">HOME</a>
            <a href="{% url 'p2' %}">ABOUT</a>
            <a href="{% url 'p3' %}">CONTACT</a>
            <a href="{% url 'p4' %}">ACTIVITIES</a>
        </div>
        <!-- Navigation bar  -->

        {% block content %}
        <!-- Contents of other pages are added here...  -->
        {% endblock %}

        <!-- footer  -->
        <div class="footer_container">
            <div class="ment"> &#169; HP Sports Club | All rights reserved.  </div>
        </div>
        <!-- footer end  -->

    </div>

</body>

</html>