<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

 <h2 align="center"> Students Details </h2> 

<table align="center" border="2" width="60%">

<tr>
    <th width="10%"> Sl. No. </th>
    <th> Name </th>
    <th> Class </th>
</tr>
<tr align="center">
    <td>1</td>
    <td> Lorem </td>
    <td> VI </td>
</tr>
<tr align="center">
    <td>2</td>
    <td> Lorem </td>
    <td> VI </td>
</tr>

<tr align="center">
    <td>3</td>
    <td> Lorem </td>
    <td> VI </td>
</tr>

<tr align="center">
    <td>4</td>
    <td> Lorem </td>
    <td> VI </td>
</tr>

<tr align="center">
    <td>5</td>
    <td> Lorem </td>
    <td> VI </td>
</tr>

<tr align="center">
    <td>6</td>
    <td> Lorem </td>
    <td> VI </td>
</tr>
<tr align="center">
    <td>7</td>
    <td> Lorem </td>
    <td> VI </td>
</tr>

<tr align="center">
    <td>8</td>
    <td> Lorem </td>
    <td> VI </td>
</tr>

<tr align="center">
    <td>9</td>
    <td> Lorem </td>
    <td> VI </td>
</tr>
<tr align="center">
    <td>10</td>
    <td> Lorem </td>
    <td> VI </td>
</tr>



</table>

</body>
</html>